<div class="container editform">
    <h1>Bot Update Form</h1>
    <form [formGroup]="searchBotForm" class="bot-search-form">
        <mat-form-field appearance="standard">
            <mat-label> Bot ID </mat-label>
            <input matInput type="text" placeholder="Search by bot ID" formControlName="search" #searchInput>
        </mat-form-field>
        <button (click)="searchBot()" mat-raised-button color="primary">
            <mat-icon>edit</mat-icon> Search Bot
        </button>
        
    </form>
    
    <form [formGroup]="botForm" class="bot-form">
        
        <mat-form-field appearance="standard">
            <mat-label> Bot Name </mat-label>
            <input matInput type="text" placeholder="Bot name" formControlName="name" #nameInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label> Bot Type </mat-label>
            <input matInput maxlength="15" placeholder="Bot type" formControlName="type" #typeInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label> Bot Status </mat-label>
            <input matInput maxlength="15" placeholder="Bot status" formControlName="status" #statusInput>
        </mat-form-field>
        <br>
        <select  class="form-select"  formControlName="active">
            <option value=true >True</option>
            <option value=false >False</option>
        </select>
        <br>
        <button (click)="editBot()" mat-raised-button color="primary"
            [disabled]="!botForm.valid">
            <mat-icon>edit</mat-icon> Edit Bot
        </button>
    </form>


</div>