
.bot-form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

app-bot-edit-form{
    width: 100%;
}