<p><mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <span class="exp-title">BOT CRUD EXAM</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="onLogout()" class="exp-log example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <span>LOGOUT</span>
      <mat-icon>input</mat-icon>
    </button>
  </mat-toolbar>
</p>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" mode="side" opened class="mat-elevation-z8">
      <button mat-button class="menu-button" routerLink="botList">
        <mat-icon>dashboard</mat-icon>
        <span><a  >BOT TABLE</a></span>
      </button>
      <button mat-button class="menu-button" routerLink="botForm">
        <mat-icon>add_box</mat-icon>
        <span><a  >BOT CREATION</a></span>
      </button>
      <button mat-button class="menu-button" routerLink="botEditForm" >
        <mat-icon>edit</mat-icon>
        <span><a >BOT EDITION</a></span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button">
        <span>Yury Romero</span>
      </button>
  
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>

<!--
<ejs-sidebar id="default-sidebar">
    <div class="title"> Bot CRUD</div>
    <app-bot-form #botForm [botDetailComponent]="this"></app-bot-form>
</ejs-sidebar>
<div>
    <div class="sub-title">
        <app-bot-list #botList [botDetailComponent]="this"></app-bot-list>
    </div>
</div>

-->


<!--

<div class="dashboard-grid">
    <div>
        <table mat-table [dataSource]="botDetails" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id. </th>
                <td mat-cell *matCellDef="let bot"> {{bot._id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let bot"> {{bot.name}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let bot"> {{bot.type}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let bot"> {{bot.status}} </td>
            </ng-container>
            <ng-container matColumnDef="created at">
                <th mat-header-cell *matHeaderCellDef> Creation Date </th>
                <td mat-cell *matCellDef="let bot"> {{bot.createdAt}} </td>
            </ng-container>
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Options </th>
                <td mat-cell *matCellDef="let bot">
                    <mat-icon fontIcon="edit"></mat-icon>
                    <mat-icon fontIcon="delete"></mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        bots form
    </div>
</div>-->