
<table class="table ">
    <thead class="thead-dark">
        <th scope="col" *ngFor="let col of displayedColumns">{{col}}</th>
    </thead>
    <tbody>
        <tr *ngFor="let bot of botDetails">
            <th scope="row">{{bot._id}}</th>
            <td>{{bot.name}}</td>
            <td>{{bot.type}}</td>
            <td>{{bot.status}}</td>
            <td>{{ bot.createdAt | date:'medium' }} </td>
            <td>
                
                <button button="delete" mat-raised-button color="primary" (click)="deleteBot(bot)" >
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>

    </tbody>
</table>

